:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
  display: flex;
  justify-content: center; 
  align-items : center;
  font-size: 200px;
}
.error-message{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 5%;
}
.error-link{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  text-decoration: underline;
  font-size: 25px;
  margin-top: 5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
