.carousel {
  background-color: saddlebrown;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}
/* .images {
  position: relative;
  display: flex;
  width: 100%;
} */
.carousel-button {
  padding: 5%;
  position: absolute;
  width: 15%;
  height: 100%;
}
.right-button{
  right: 0;
  display: flex;
  
}
.left-button{
  left: 0;
}
.images {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
}
