.banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.banner_image.dimmed {
  filter: brightness(50%);
}

.banner_title {
  position: absolute;
  bottom: 0;
}

.banner_container {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  color: white;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
