.header {
  display: flex;
  justify-content: space-between; /* creates a space between the child elements when it is space-between - horizontal*/
  align-items: center; /* for vertical elements*/

  /* margin */
  padding: 10px;

  width: auto;
  height: auto;
  /* max-width:
  max-height: */

  background-color: aqua;
}

.navMenu {
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

.logo {
  max-height: 60px;
  width: auto;
  height: auto;
  background-color: bisque;
}
