.detailsPage {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}
.infoSection {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}
.information {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: left;
  background-color: coral;
}
.title {
  display: flex;
  flex: 1;
  justify-content: left;
  background-color: blueviolet;
}
.location {
  display: flex;
  flex: 1;
  justify-content: left;
  background-color: greenyellow;
}
.profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: right;
  background-color: purple;
}
.tags {
  display: flex;
  flex: 1;
  justify-content: left;
  background-color: burlywood;
}
.name {
  display: flex;
  flex: 1;
  justify-content: left;
  background-color: darkgreen;
}
.rating {
  display: flex;
  flex: 1;
  justify-content: left;
  background-color:darkorange;
}
.dropdownSection{
    display: flex;
    flex-direction: row;
    
}